.loader{
    color:green;
    font-size: 50px;
    font-family: cursive;
}
.loader::after{
    content: '\2026' ;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: blink steps(4, end) 2s infinite;
    width: 0px;
}
@keyframes blink {
    to{
        width: 1em;
    }
}